* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
    
}





body {
background: #F3E5D7 ;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

/*margin: 123px 352px 124px 352px;
margin-inline: auto;
width: 100%;
max-width: 720px;
min-width: 187px;*/
}



p {
    font-size: 16px;
    color: #5F564D;
   
}

#card  {
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 736px;
    height: 1722px;
    padding: 40px;
    align-items: center;
    justify-content: center;

    display: block;
      
}


img {

    border-radius: 12px;
    object-fit: fill;
    height: 337px ;
    width:100%;
    display: block;
}

  
#text-content   {
    margin: 0;
    display: block;
   
}



h1 {
    padding-bottom: 24px;
    padding-top: 40px;
    color: #312E2C;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: justify;
   
   
}

#text-content p {
    color: #5F564D;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
          
}

#Preparation {
 background-color: #FFF7FB ;
 padding: 28px;
 margin: 32px;

}

.Preparation {
    color: #F3E5D7;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding-bottom: 16px;
    text-align: justify;
  
}

#Ingredients {
    padding-bottom: 32px;
}
#Ingredients h2 {
    color: #854632;
    padding-bottom: 24px;
    text-align: justify;
   
}


ul {
    color: #5F564D;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8 ;
    padding-left: 20px;
   
}

hr {
    color: #E3DDD7;
 

}

#Instructions {
    padding: 32px 0 32px 0 ;
}

#Instructions h2 {
    color: #854632;
    padding-bottom: 24px;
}

ol {
    
        color: #5F564D;
        font-family: "Outfit", sans-serif;
        
        font-weight: 400;
        font-style: normal;
        line-height: 1.8 ;
        text-align: justify;
        padding-left: 20px;  
       
   
}

#Nutrition{
    padding: 32px 0 ;

}

#Nutrition h2 {
    color: #854632;
    padding-bottom: 32px;
   
}

#Nutrition p {
    padding-bottom: 32px;
}

table td {
    color: #5F564D;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8 ;
    text-align: justify;
    border-bottom: 1px solid #E3DDD7;
}

.td {
    color: #854632;
    font-weight: bold;
    
}


@media screen and (max-width: 360px) {
  
    * {
        box-sizing: content-box;
    }
 
    body {


  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

      /*margin: 0;
      border: 0;
      padding: 0;
      background-color: white;
      width: auto;
      overflow: hidden;*/
      
      
      
    
    }

    #card {
        
        width: 375px;
        height: 2043px;
        padding: 0;
        margin: 7px;
        
       
        
    }

    img {
        width: 360px;
        height: 171px;
    }

    #title {

        width: 311px;
        height: 216px;

    }
      

      h1 {
        font-size: 36px;
      }


      h2 {

        font-size: 28px;
      }


      p {

        font-size: 14px;
        padding-bottom: 32px;
    
      }   
       
 
      #Igredients {

        width: 311px;
        height: 211px;
       
      }

      ul ol {

        font-size: 12px;
      
         
      }
     
      #Instructions {
        width: 311px;
        height: 668px;
        
      }

      

      #Nutrition {
        width: 311px;
        height: 292px;
        padding: 32px 0 0 0 ;
        
       

      }

      footer a {

        font-size: 10px;
       
      }
      


         
    }